@charset "utf-8";

body {
    background-color: aquamarine;
    font-family: sans-serif;
}
h1 {
    color: aqua;
}
h1#principal{
    text-align: center;
    background-color: aliceblue;
    color: black;
}

h2 {
    color: azure;
}

.basico {
    color: rgb(0, 255, 200);
}

.intermediario{
    color: aqua;
}

.avançado{
    color: rgb(0, 38, 255);
}

.destaque{
    background-color: yellow;
}